<div class="container" ng-controller="QuestionController as QuestionController">

	<form ng-submit="submit()" class="newquestionform">
  	<div class="container-fluid">
  	  <label for="newQuestion-question">Question:</label>
  	  <input type="text" id="newQuestion-question" ng-model="QuestionController.newQuestion.question" class="form-control">
  	  <input type="submit" value="Add Question" class="btn btn-primary addquestion">
  	</div>
    </form>


  <section class="container-fluid">
	<div class="row">

	  <div class="col-xs-12" ng-repeat="question in QuestionController.questions" >
		<question></question>
	  </div>

	</div>
  </section>




</div>
